@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
.container{
    display: flex;
    margin: 0 8%;
    padding: 1%;
    flex-direction: column;
    gap: 20px;
}
.container p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.header {
    display: flex;
    flex-direction: row;
}
.redirecionar-header {
    color: #1351d8;
    text-decoration: none;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.1%;
    background-color: #1b357e;
}
.footer h2 {
    margin: 0.5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    color: white;
    font-size: 15px;
}