@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #1351d8;
    --cor-secundaria: #1b357e;
    --cor-terciaria: #FDFDFF;
    --cor-hover: #559CAD;
    --fonte-montserrat: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
}
.nav-header {
    display: flex;
    gap: 40px;
}
.nav-header a{
    color: var(--cor-primaria);
    text-decoration: none;
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    font-size: 16px;
}
.nav-header a:hover {
    color: var(--cor-hover);
}
.header-img {
    position: absolute;
    left: 20px;
}
.container{
    display: flex;
    margin: 0 8%;
    padding: 1%;
    flex-direction: column;
    gap: 10px;
}
.container p {
    text-align: center;
    font-family: var(--fonte-montserrat);
    font-weight: 500;
}
.container-img {
    width: 100%;
}
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.1%;
    background-color: var(--cor-secundaria);
}
.footer-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.footer-copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cor-terciaria);
    font-family: var(--fonte-montserrat);
    text-align: center;
}
.footer-img {
    position: absolute;
    right: 20px;
}
.footer h2 {
    font-family: var(--fonte-montserrat);
    font-weight: 450;
    color: var(--cor-terciaria);
    font-size: 15px;
}